<% if(errorMessage){ %>
<div class="alert alert-danger" role="alert">
  <%= errorMessage %>
</div>
<% } %>
 
<form class="row g-3" action="/" method="post" enctype="multipart/form-data">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Product name</label>
      <input type="text" class="form-control" id="inputEmail4" name="name" >
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Product Description</label>
      <textarea name="desc" rows="4" cols="40" class="form-control" id="inputPassword4"></textarea>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Price</label>
      <input type="text" class="form-control" id="inputAddress" name="price" >
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Image URL</label>
      <!-- <input type="text" class="form-control" id="inputAddress2" name="imageUrl"> -->
       <input type="file" id="imageUrl" name="imageUrl" accept="images/*"/>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add Product</button>
    </div>
  </form>